/*CSS  Header*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
#hxh-id-header{
background-color: black;
text-align: center;
color: white;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
border-radius: 0 0 20px 20px;
justify-content: center;
justify-items: center;
align-items: center;
}
.header-img-container{
height: 70px;
display: inline-block;
}

#idheader-figure-img{
    border-radius: 600px;
    height: 50px;
}