css
#second-div-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    background-color: black;
    color: white;
}

#argumento{
text-align: left;
color: white;
}